name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install gtest
      run: sudo apt-get install -y libgtest-dev
    - name: build the library
      run: |
        mkdir build
        cd build
        cmake ..
        make
        cd ..
    - name: make test
      run: make test
